#login-card {
    border-radius: var(--mdui-shape-corner-extra-large);
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 60vh;
    max-width: 1040px;
    max-height: 520px;
    min-width: 420px;
    min-height: 400px;
    padding: 36px;
    margin: auto;
    box-shadow: var(--mdui-elevation-level5);
    background-color: rgb(var(--mdui-color-surface-container-lowest));

    mdui-icon{
        font-size: var(--mdui-typescale-display-large-line-height);
    }

    .login-wrap {
        height: 100%;
        display: grid;
        flex-direction: row;
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
    }

    .login-guide {
        user-select: none;
    }

    .login-text {
        display: flex;
        align-items: flex-start;
        line-height: var(--mdui-typescale-display-medium-size);
        font-size: var(--mdui-typescale-display-medium-size);
        letter-spacing: var(--mdui-typescale-display-medium-tracking);
        font-weight: var(--mdui-typescale-display-medium-weight);
    }

    .login-form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
    }

    .login-buttons {
        display: flex;
        flex-direction: row;
        justify-content: right;
        margin-top: auto;
    }

    .horizontal {
        padding-top: var(--mdui-shape-corner-extra-large);
        height: 100%;
    }


    mdui-text-field {
        justify-content: right;
        height: 56px;
        width: 90%;
    }

    mdui-text-field::part(label){
        background-color: rgb(var(--mdui-color-surface-container-lowest));
    }

    mdui-button {
        height: var(--mdui-typescale-display-small-line-height);
        margin-left: 20px;
    }
}
